ansible==6.7.0
ansible-core==2.13.13
bcrypt==5.0.0
certifi==2025.10.5
cffi==1.17.1
charset-normalizer==3.4.4
cryptography==46.0.3
dotenv==0.9.9
idna==3.11
jinja2==3.1.6
MarkupSafe==2.1.5
netmiko==4.4.0
ntc-templates==7.9.0
packaging==25.0
paramiko==3.5.1
pycparser==2.23
pynacl==1.6.0
pyserial==3.5
python-dotenv==1.0.1
PyYAML==6.0.3
requests==2.32.4
requests-toolbelt==1.0.0
resolvelib==0.8.1
scp==0.15.0
textfsm==2.1.0
typing-extensions==4.13.2
urllib3==2.2.3
